@model IEnumerable<EcommereceStore.Models.Product>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
 All Product
</h2>

   
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3" style="margin-left:50Px;background-color:blueviolet;border-radius:10PX">
            <div class="">
                <img class="img-responsive" style="width:100%;margin-top:5PX" src="@item.ProductPath" />
            </div>

            <h3 class="text-center">@item.PLabel</h3>
            @*@Html.ActionLink("ProduntDetails", "Home", new {  id = item.Pid  })*@
            <a href="@Url.Action("ProduntDetails","Home",new {id=item.Pid })" class="text-center bg-success btn btn-success">Details</a>


        </div>
    }
</div>


